<h1>About us</h1>

<body>
	
<p><b>Hit or miss</b></p>
<i>i suppose they never miss</i>
<h2>HUH</h2>
<p><b>youve got a boyfriend?</b></p>
<p><i>i bet he doesnt kis ya</i></p>
<h3>MWUA</h3>
<p><b>he gon find anather girl and he wont miss ya</b></p>
<p><i>he gon skrr and hit the dab like wiz khalifa</i></p>

</body>