<h1>Contacts:</h1>
<form action="/contacts" method="POST" >    

  <div class="form-group">
    <label>Youre E-mail</label>
    <input name="email" type="text" class="form-control" placeholder="E-mail..">

  <div class="form-group">
    <label>Message</label>
    <textarea name="msg" class="form-control" rows="3" placeholder="enter some text.."></textarea>

  <div class="form-group">
	<button type="submit" class="btn btn-info">Send a message</button>

</form>